<div class="container-fluid" id="exerciseView" key-listener="keyPressed({keyCode: keyCode, view: view})">
    <keyboard-listener play="vm.play" submit="vm.setResponse(response)" is-enable="vm.isResponseEnable"
                       for-url="/exercise"></keyboard-listener>
  <div class="row">
      <div class="col-xs-4 boxGrid" ng-repeat="text in [ 1, 2, 3 ] track by $index">
          <response-btn text="{{ text }}"
                        value="{{ $index }}"
                        blink-duration="{{ vm.soundDuration }}"
                        active-btn="vm.activeBtn"
                        state="vm.btnState"
                        is-enable="vm.isResponseEnable"
                        submit="vm.setResponse(response)">
          </response-btn>
      </div>
  </div>
  <br/>
  <div class="row" ng-if="vm.message === ''">
    <div class="col-xs-12">
      <input type="button" class="col-xs-2 col-xs-offset-5 responsiveBtn btn
                                  btn-info" value="Play" ng-click="vm.play()"
             ng-hide="isReady">
    </div>
  </div>
  <div class="row">
    <p  id="instruction" class="col-xs-12 text-center">{{ vm.message }}</p>
  </div>
</div>
