<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">Export</h2>
            </div>
            <div class="modal-body">
                <h3>Choose your format:</h3>
                <input type="radio" value="excel" name="exportMethod" ng-model="vm.exportAction" download="test001.xls">
                <strong>Excel</strong>
                <br/> 
                <input type="radio" value="doc" name="exportMethod" ng-model="vm.exportAction" download="test001.doc">
                <strong>Doc</strong>
                <br/>
                <input type="radio" value="pdf" name="exportMethod" ng-model="vm.exportAction" download="test001.pdf">
                <strong>PDF</strong>
                <br/>
                <input type="radio" value="csv" name="exportMethod" ng-model="vm.exportAction" download="test001.txt">
                <strong>CSV</strong>
                <br/>
                <p id="note">Note: The downloaded contents are saved in plain text format. You may have to rename it with
                    the appropriate extention for it to be compatible with Microsoft Office or other programs you wish to
                    open it with (.xls for Excel, .pdf for PDF, .doc for Word, and .txt for CSV).</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="vm.exportTable()">Export</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
