<div class='container-fluid' id='setupView' >
  <div class='row'>
    <div class='panel col-sm-6 col-sm-offset-3'>
      <h2>Stimuli Configuration</h2>
      <div class='container-fluid'>
        
        <div class='row'>
          <strong class='col-xs-6'>Signal Interval</strong> 
          <strong class='col-xs-6'>No Signal Interval</strong> 
        </div>

        <div class='row'>
          <div class='col-xs-6'>
              <list-files files='vm.signalFiles' remove="vm.removeSignalByIndex(i)">
                  <file-reader upload='vm.addSignalFile(file)'></file-reader>
              </list-files>
          </div>

          <div class='col-xs-6'>
              <list-files files='vm.noSignalFiles' remove="vm.removeNoSignalByIndex(i)">
                  <file-reader upload='vm.addNoSignalFile(file)'></file-reader>
              </list-files>
          </div>
          <div class="row">
              <div class="col-xs-12">
                  <label class="col-xs-8">Number of repetition per signal interval</label>
                  <div class="col-xs-4">
                      <input id="nreps" class='col-xs-12' type='number' value='1' step='1' size="3" min='0' max = '100' ng-model='vm.nreps' required>
                  </div>
              </div>
          </div>
        </div>
        <br/>
        <div class='row'>
          <div class='col-xs-4'>
            <input class='col-xs-12 pull-right btn btn-primary' type='button' value='Save' ng-click='vm.save()'> 
          </div>
          <div class='col-xs-4'>
              <show-samples-btn reset="vm.clearList()" add-signal="vm.addSignalFile(file)" add-no-signal="vm.addNoSignalFile(file)"></show-samples-btn>
          </div>
          <div class='col-xs-4'>
            <input class='col-xs-12 pull-left btn btn-primary' type='button' value='Reset' ng-click='vm.reset()'>
          </div>
        </div>
        <div ng-include='"views/showsamples.html"'></div>
      </div>
      <br/>
    </div>
  </div>  
</div>

