<div class='container-fluid' id='setupView' >
  <div class='row'>
    <div class='panel col-sm-4 col-sm-offset-4'>
      <h2>Stimuli Configuration</h2>
      <div class='container-fluid'>
        
        <div class='row'>
          <div class="col-xs-12">
              <strong class='col-xs-12'>Signal Interval</strong> 
          </div>
        </div>

        <!-- <div class='row'> -->
        <!-- <div class='col-xs-6'> -->
        <!-- <list-files files='vm.signalFiles' remove="vm.removeSignalByIndex(i)"> -->
        <!-- <file-reader upload='vm.addSignalFile(file)'></file-reader> -->
        <!-- </list-files> -->
        <!-- </div> -->

        <!-- <div class='col-xs-6'> -->
        <!-- <list-files files='vm.noSignalFiles' remove="vm.removeNoSignalByIndex(i)"> -->
        <!-- <file-reader upload='vm.addNoSignalFile(file)'></file-reader> -->
        <!-- </list-files> -->
        <!-- </div> -->

        <list-snr snr-list="vm.snrList" add="vm.addSnr(value)" remove="vm.removeSnrByIndex(index)"></list-snr>

          <div class="row">
              <div class="col-xs-12">
                  <label class="col-xs-8">Number of repetition per signal interval</label>
                  <div class="col-xs-4">
                      <input id="nreps" class='col-xs-12' type='number' value='1' step='1' size="3" min='0' max = '100' ng-model='vm.nreps' required>
                  </div>
              </div>
          </div>
        </div>
        <br/>
        <div class='row'>
          <div class='col-xs-6'>
            <input class='col-xs-12 pull-right btn btn-primary' type='button' value='Save' ng-click='vm.save()'> 
          </div>
          <div class='col-xs-6'>
            <input class='col-xs-12 pull-left btn btn-primary' type='button' value='Reset' ng-click='vm.reset()'>
          </div>
        </div>
      </div>
      <br/>

      <calibration>
        <h3>Calibration</h3>
        <p>Listen for the tone. Click Yes if you could hear it, or No if you could not.
           This will repeat until a threshold is found.
        </p>
      </calibration>
      
    </div>
  </div>  
</div>
