<script type='text/ng-template' id='showsamplesmodal.html'>
    <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
        <h4 class='modal-title'>Sample Exercises</h4>
    </div>
    <div class='modal-body'>
        <h5>The following contain sets of preloaded sample exercises. Choose one and save.</h5>
        <div class='list-group'>
            <a ng-href='' ng-repeat='experiment in vm.sampleExercises track by $index'
               id='$index' class='list-group-item' ng-class='{ "active": experiment.name == vm.highlighted.name }'
                ng-click='vm.highlightSelectedSample(experiment)'>{{ experiment.name }}</a>
        </div>
    </div>
    <div class='modal-footer'>
        <button type='button' class='btn btn-default' ng-click="vm.dismiss()">Cancel</button>
        <button type='button' class='btn btn-primary' ng-click='vm.loadSample()'>Select</button>
    </div>
</script>
